extends layout 

block content 
    br
    h1.heading For more information contact us
    hr.para(color="grey")
    hr.para(color="grey")


    p.para We value your feedback, inquiries, and suggestions. At Sankshipt, we strive to provide the best possible user experience and ensure that your needs are met. Whether you have a question about our platform, need assistance with an article, or simply want to reach out to us, we're here to help.

    p.para Feel free to contact us using the information provided below or fill out the contact form, and we'll get back to you as soon as possible.

    p.para Contact Information:

    p.para Phone: [Insert Phone Number]
    p.para Email: [Insert Email Address]
    p.para Address: [Insert Physical Address]
    p.para Our dedicated support team is available during business hours to address your concerns and provide guidance. We appreciate your patience and assure you that we will do our best to assist you promptly.

    p.para We also encourage you to connect with us on social media platforms, where you can stay updated with the latest news, announcements, and community discussions. Follow us on [Insert Social Media Handles] to join our growing community and engage with fellow writers and readers.

    p.para Your feedback is crucial to us as we continuously strive to improve our platform and provide an exceptional user experience. We appreciate your input and suggestions on how we can better serve you and enhance our services.

    p.para Thank you for choosing Sankshipt. We value your presence and look forward to hearing from you.